.datalist-0{
	font-weight: bolder;
}
.datalist-0 > span{
	font-weight: normal;
}
.techdata{
	font-family: var(--bs-font-monospace);
	font-size: 0.85em;
	word-break: break-all;
}

#clientList{
	max-height: calc(100% - 150px);
	overflow-y: auto;
	min-height: 200px;
}
#clientList.filter{
	max-height: calc(100% - 195px);
}
#clientTableEditor, #clientList table{
	border-collapse: separate;
	border-spacing: 0;
}
#clientTableEditor tbody tr td:first-child{
	padding-left: 10px;
}

#clientList table tbody tr:last-child td, #clientTableEditor tbody tr:last-child td{
	border-bottom-width: 0px !important;
}

.tdactions{
	width: 1%;
}

#clientFilter{
	max-height: 40px	;
}

.ajax-alert .ts{
	font-size:  0.8em;
	margin-top: 3px;
}



#confirmDialog{
	z-index: 1500;
}

#clientEditor.confirmOpen{
	filter: brightness(40%);
	pointer-events:none;
}

#clientEditor.confirmOpen *{
	pointer-events:none;
}


@media (max-width: 575.98px) {
   span.udatedata{
   	display: block;
		margin-top: 25px;
	}
}

#clientTableView div.overflow-auto{
	max-height: calc(100vh - 290px);
}

.sortth{
	cursor: pointer;
}

.sortth:before{
	visibility: hidden;
}
.sortth.activesort:before{
	visibility: inherit;
}

.sortth:before{
	font-family: bootstrap-icons !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	vertical-align: -0.125em;
	content: "\F571";
	padding-right:5px;
}
.sortth.sortdir:before{
	content: "\F573";
}

td[data-blank="1"]:before{
	content: "﹘";
	color: var(--bs-secondary-color)!important;
	opacity: 0.5;
}