.datalist-0{
	font-weight: bolder;
}
.datalist-0 > span{
	font-weight: normal;
}
.techdata{
    font-family: var(--bs-font-monospace);
	font-size: 0.85em;
	word-break: break-all;
}

#clientList{
	max-height: 25vh;
	overflow-y: auto;
}

.ajax-alert .ts{
	font-size:  0.8em;
	margin-top: 3px;
}

#confirmDialog{
	z-index: 1500;
}

#clientEditor.confirmOpen{
	filter: brightness(40%);
	pointer-events:none;
}

#clientEditor.confirmOpen *{
	pointer-events:none;
}

body.darkMode div.card,body.darkMode div.modal-content{
   filter: brightness(0.9);
}