.datalist-0{
	font-weight: bolder;
}
.datalist-0 > span{
	font-weight: normal;
}
.techdata{
    font-family: var(--bs-font-monospace);
	font-size: 0.85em;
	word-break: break-all;
}

#clientList{
	max-height: 25vh;
	overflow-y: auto;
}